body{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    position: absolute;
    bottom:90%;
    color: #7cf206;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 3em;
}

.container{
    display: flex;
    width: 600px; /* 16 squares * 40px */
    height: 600px; /* 16 squares * 40px */
    border: 2px solid black;
    flex-wrap: wrap;
    margin-top: 5em;
}
.grid-cell {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    cursor: pointer;
    box-sizing: border-box;
}
.size{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.size:hover{
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
    cursor: pointer;
    font-size: 25px;
    transition : 0.2s ease-in-out;
}